<div class="row">
	<div style="width: auto;height: 130px;">
    </div>
	<div class="col-sm-3" style="height: 800px;">
		<div style="width: 250px;height:400px;background-color: rgba( 135, 135, 135, 0.55 );border-radius: 15px;">
        	<div style="text-align: center;font-size: 23px;margin-top: 20px;padding-top: 19px;font-weight:bold;">ジャンル検索</div>
          	<div style="margin-left: 30px;margin-top: 30px;">
				<% @genres.each do |genre| %>
					<%= link_to genre_path(genre) do %>
						<p><%= genre.name %></p>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>

	<div class="col-sm-9">
		<div style="width: 950px;height: 600px;background-color: rgba( 135, 135, 135, 0.55 );border-radius: 15px;margin-top: 20px;padding-top: 1px;padding-left: 25px;">
			<div style="font-weight:bold;font-size: 23px;margin-top: 16px;"><%= @genre.name %>一覧<span>(全<%= @product.count %>件)</span></div>

			<div style=" display: flex; flex-wrap: wrap; align-content: center;">
				<% @products.each do |product| %>
					<div style=" margin:10px;">
						<%= link_to product_path(product) do %>
							<%= attachment_image_tag product, :image, :fill, 200, 150, format: 'png',fallback: "no_image.png",size:'200x150' %>
							<p><%= product.name %></p>
							<p>¥<%= product.syouhizei(product.price) %></p>
						<% end %>
					</div>
				<% end %>
			</div>

			<%= paginate @products %>
		</div>
	</div>
</div>


