<div class="row">
	<h3>配送先編集</h3>
	<%= form_for @shipping do |f| %>
		<div class="form-group row">
			<%= f.label :postal_code, "郵便番号", class: "col-xs-2 col-form-label" %>
			<%= f.text_field :postal_code, class: "col-xs-3" %>
		</div>
		<div class="form-group row">
			<%= f.label :street_address, "住所", class: "col-xs-2 col-form-label" %>
			<%= f.text_field :street_address, class: "col-xs-6" %>
		</div>
		<div class="form-group row">
			<%= f.label :name, "宛名", class: "col-xs-2 col-form-label" %>
			<%= f.text_field :name, class: "col-xs-3" %>
		</div>
		<%= f.submit "登録する", class: "btn btn-success col-xs-2 col-xs-offset-8" %>
	<% end %>
</div>