<div class="container">
    <div style="width: 100%;height: 150px;"></div>
    <div style="width: 100%;height: 629px;">
    <h1 style="width: 150px;height: 50px;border-radius: 15px;
  background-color: rgba( 135, 135, 135, 0.55 );font-size: 23px;font-weight: bold;text-align: center;padding-top: 13px;">会員一覧</h1>
    <table class="table" style="margin-top: 30px;">
        <thead>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
        </thead>

        <tbody>
            <% @customers.each do |customer| %>
                <tr>
                    <td><%= customer.id %></td>
                    <td>
                        <%= link_to admins_customer_path(customer) do %>
                        <%= customer.last_name %> <%= customer.first_name %>
                        <% end %>
                    </td>
                    <td><%= customer.email %></td>
                    <td>
                        <% if customer.is_deleted == true %>
                            退会済    
                        <% else %>
                            有効
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>

    <%= paginate @customers %>
    </table>
    </div>
</div>