<div class="container">
    <div style="width: 100%;height: 150px;"></div>
    <div style="width: 100%;height: 629px;">
        <h1 style="width: 300px;height: 50px;border-radius: 15px;background-color: rgba( 135, 135, 135, 0.55 );font-size: 23px;font-weight: bold;text-align: center;padding-top: 13px;"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h1>

        <div class="field" style="margin-top: 40px;">
            顧客ID
            <%= @customer.id %> 
                <% if @customer.is_deleted == true %>
                    退会済会員
                <% else %>
                    有効会員
                <% end %>
        </div>
        
        <div class="field" style="margin-top: 15px;">
            氏名
            <%= @customer.last_name %> <%= @customer.first_name %>
        </div>
        
        <div class="field" style="margin-top: 15px;">
            フリガナ
            <%= @customer.last_name_kana %> <%= @customer.first_name_kana %>
        </div>
        
        <div class="field" style="margin-top: 15px;">
            郵便番号
            <%= @customer.postal_code %>
        </div>
        <div class="field" style="margin-top: 15px;">
            住所
            <%= @customer.street_address %>
        </div>
        
        <div class="field" style="margin-top: 15px;">
            電話番号
            <%= @customer.phone_num %>
        </div>
        
        <div class="field" style="margin-top: 15px;">
            メールアドレス
            <%= @customer.email %>
        </div>

        <div style="height: 330px;margin-top: 50px;">
        <%= link_to "編集する", edit_admins_customer_path(@customer), class:"btn btn-primary" %>
        <%# リンク先に「order_sort」の「1」と、現在いるページの「customer_id」の値を一緒に送る / この会員の注文履歴だけ見られる %>
        <%= link_to "注文履歴一覧を見る", admins_orders_path(order_sort: 0, customer_id: @customer.id), class:"btn btn-primary" %>
        </div>
    </div>
</div>