<div class="row">
    <div style="width: 100%; height: 629px;">
        <h1 style="width: 300px;height: 50px;border-radius: 15px;background-color: rgba( 135, 135, 135, 0.55 );font-size: 23px;font-weight: bold;text-align: center;padding-top: 13px;"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h1>

        <div class="col-xs-7">

            <div class="field row" style="margin-top: 40px;">
                <label class="col-xs-3">顧客ID</label>
                <div class="col-xs-3">
                    <%= @customer.id %> 
                    <% if @customer.is_deleted == true %>
                        退会済会員
                    <% else %>
                        有効会員
                    <% end %>
                </div>
            </div>
            
            <div class="field row row" style="margin-top: 15px;">
                <label class="col-xs-3">氏名</label>
                <div class="col-xs-3">
                    <%= @customer.last_name %> <%= @customer.first_name %>
                </div>
            </div>
            
            <div class="field row" style="margin-top: 15px;">
                <label class="col-xs-3">フリガナ</label>
                <div class="col-xs-3">
                    <%= @customer.last_name_kana %> <%= @customer.first_name_kana %>
                </div>
            </div>
            
            <div class="field row" style="margin-top: 15px;">
                <label class="col-xs-3">郵便番号</label>
                <div class="col-xs-3">
                    <%= @customer.postal_code %>
                </div>
            </div>

            <div class="field row" style="margin-top: 15px;">
                <label class="col-xs-3">住所</label>
                <div class="col-xs-7">
                    <%= @customer.street_address %>
                </div>
            </div>
            
            <div class="field row" style="margin-top: 15px;">
                <label class="col-xs-3">電話番号</label>
                <div class="col-xs-3">
                    <%= @customer.phone_num %>
                </div>
            </div>
            
            <div class="field row" style="margin-top: 15px;">
                <label class="col-xs-3">メールアドレス</label>
                <div class="col-xs-3">
                    <%= @customer.email %>
                </div>
            </div>

        </div>

        <div class="col-xs-12">
            <div style="margin-top: 50px;"></div>
            <%= link_to "編集する", edit_admins_customer_path(@customer), class:"btn btn-primary" %>
            <%# リンク先に「order_sort」の「1」と、現在いるページの「customer_id」の値を一緒に送る / この会員の注文履歴だけ見られる %>
            <%= link_to "注文履歴一覧を見る", admins_orders_path(order_sort: 0, customer_id: @customer.id), class:"btn btn-primary" %>
        </div>
    </div>
</div>