<div style="width: 100%;height: 150px;"></div>
<div style="width: 100%;height: 629px;">
    <h3 style="width: 200px;height: 50px;border-radius: 15px;background-color: rgba( 135, 135, 135, 0.55 );font-size: 23px;font-weight: bold;text-align: center;padding-top: 12px;">注文情報確認</h3>

    <%= form_with(model: @order, local: true) do |f| %>
        <div class="row">
            <div class="col-xs-8" style="margin-top: 40px;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>商品名</th>
                            <th>単価（税込）</th>
                            <th>数量</th>
                            <th>小計</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% sum_all = 0 %>
                        <% @cart_items.each do |cart_item| %>
                            <tr>
                                <td>
                                    <%= attachment_image_tag cart_item.product, :image_id, :fill, 60, 45, format: 'png',fallback: "no_image.png",size:'60x45' %>
                                    <%= cart_item.product.name %>
                                </td>
                                <td><%= cart_item.product.syouhizei(cart_item.product.price) %></td>
                                <td><%= cart_item.quantity %></td>
                                <td>
                                    <%= cart_item.subtotal %>
                                    <% sum_all += cart_item.total.to_i %>
                                </td>
                            </tr>
                        <% end %>
                    <tbody>
                </table>
            </div>

            <div class="col-xs-4">
                <table class="table table-bordered" style="margin-top: 40px;">
                    <tr>
                        <th>送料</th>
                        <td><%= @order.freight %></td>
                    </tr>
                    <tr>
                        <th>商品合計</th>
                        <td><%= sum_all.to_s(:delimited) %></td>
                    </tr>
                    <tr>
                        <th>請求金額</th>
                        <td>
                            <% claimed = sum_all + @order.freight.to_i %>
                            <%= claimed.to_s(:delimited) %>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <h4>支払方法</h4>
            </div>
            <div class="col-lg-2">
                    <% if @order.payment_method == 0 %>
                        クレジットカード
                    <% elsif @order.payment_method == 1 %>
                        銀行振込
                    <% end %>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <h4>お届け先</h4>
            </div>
            <div class="col-lg-4">
                    <%= @order.postal_code %> <%= @order.street_address %><br>
                    <%= @order.name %>
            </div>
        </div>

        <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <%= f.hidden_field :postal_code, :value => "#{@order.postal_code}" %>
        <%= f.hidden_field :street_address, :value => "#{@order.street_address}" %>
        <%= f.hidden_field :name, :value => "#{@order.name}" %>
        <%# 送料抜いた商品合計をtotal_priceに保存 %>
        <%= f.hidden_field :total_price, :value => sum_all %>
        <%= f.hidden_field :payment_method, :value => @order.payment_method %>


        <div class="row" style="margin-top: 100px;">
            <%= f.submit "購入を確定する", class: "btn btn-lg btn-success center-block" %>
        </div>

    <% end %>
</div>
