<div class="container">

    <h1>注文時情報入力</h1>

    <%= form_for(@order, url:orders_path) do |f| %>

    <%# まずはラジオボタンで切り替えられる方法を探す %>
    
        <div class="field">
            支払方法
            <%= f.radio_button :payment_method, :"0" %> <%= f.label :payment_method, "クレジットカード", value: "0" %>
            <%= f.radio_button :payment_method, :"1" %> <%= f.label :payment_method, "銀行振込", value: "1" %>
        </div>

        <div class="field">
            お届け先
            <%# 自分の住所を選択するラジオボタンとラベルを作成 %>
            ご自身の住所
            <%= @customer.postal_code %> <%= @customer.street_address %> <br>
            <%= @customer.last_name %><%= @customer.first_name %>
        </div>

        <div class="field">
            登録済住所から選択
            <%# ここは f.collection_select でshippingから引っ張る %>
        </div>

        <div class="field">
            新しいお届け先
            郵便番号（ハイフンなし）
            住所
            宛名 
            <%# 新しく入力できるフォームを作成する %>
        </div>

        <%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
    
     <% end %>

</div>