<div class="container">
	<div class="row">
		<h3>商品詳細</h3>
		<div class="col-xs-4">
			<%= attachment_image_tag @product, :image, :fill, 300, 250, format:'jpeg',fallback: "no_image.png",size:'300x250' %>
		</div>
		<div class="col-xs-7">
			<table class="table">
				<tbody>
					<tr>
						<th>商品名</th>
						<td><%= @product.name %></td>
					</tr>

					<tr>
						<th>商品説明</th>
						<td><%= @product.introduction %></td>
					</tr>

					<tr>
						<th>ジャンル</th>
						<td><%= @product.genre.name %></td>
					</tr>

					<tr>
						<th>税込価格（税抜価格）</th>
						<td><%= "#{(@product.price * 1.08).round.to_s(:delimited) }" %>(<%= @product.price.to_s(:delimited) %>)円</td>
					</tr>

					<tr>
						<th>販売ステータス</th>
						<td><%= @product.is_active ? "販売中" : "販売停止中" %></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-xs-1">
			<%= link_to "編集する", edit_admins_product_path(@product.id), class:"btn btn-primary btn-new-register btn-lg" %>
		</div>
	</div>
</div>

