<div class="row">

	<div class="col-sm-3">
		<h4>ジャンル検索</h4>
		<% @genres.each do |genre| %>
			<%= link_to genre_path(genre) do %>
				<p><%= genre.name %></p>
			<% end %>
		<% end %>
	</div>
	
	<div class="col-sm-9">
		<h3>商品一覧<span>(全<%= @product.count %>件)</span></h3>
		<% @products.each do |product| %>
			<%= link_to product_path(product) do %>
				<%= attachment_image_tag product, :image_id, :fill, 160, 120, format: 'png',fallback: "no_image.png",size:'160x120' %>
				<p><%= product.name %></p>
				<p>¥<%= product.syouhizei(product.price) %></p>
			<% end %>

		<% end %>
		<%= paginate @products %>
	</div>
		
</div>


