<div class="row">
	<div class="col-sm-3">
		<div style="width: 250px;height:400px;background-color: rgba( 135, 135, 135, 0.55 );border-radius: 15px;">
          	<div style="text-align: center;font-size: 23px;margin-top: 20px;padding-top: 19px;font-weight:bold;">ジャンル検索</div>
			<div style="margin-left: 30px;margin-top: 30px;">
				<h4>ジャンル検索</h4>
				<% @genres.each do |genre| %>
					<%= link_to genre_path(genre) do %>
						<p><%= genre.name %></p>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>


	<div class="col-sm-9">
		<div class="row">
			<div style="padding-top: 60px;"></div>
			<div class="col-sm-6">
				<%= attachment_image_tag @product, :image, :fill, 320, 240, format: 'png',fallback: "no_image.png",size:'320x240' %>
			</div>
			<div class="col-sm-6">
				<h3><%= @product.name %></h3>
				<p><%= @product.introduction %></p>
				<div style="padding-top: 10px;"></div>
				<h4>¥<%= @product.syouhizei(@product.price).to_s(:delimited) %><span>（税込）</span>
				
				<div style="padding-top: 40px;"></div>

				<%= form_with model: [@product, @cart_item], url: {controller: 'cart_items', action: 'create'}, local: true do |f| %>
					<div class="col-xs-6">
						<%= f.select :quantity, [1,2,3,4,5,6,7,8,9,10], {prompt: "個数選択"}, {class:"form-control"} %>
					</div>
					<div class="col-xs-6">
						<%= f.hidden_field :product_id, value: @product.id, class:"form-control" %>
						<%= f.submit 'カートに入れる', class:"btn btn-primary" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>


