<div class="container">
    <div style="width: 100%;height: 150px;"></div>
    <div style="height: 629px;">
    <h1 style="width: 180px;height: 50px;border-radius: 15px;background-color: rgba( 135, 135, 135, 0.55 );font-size: 23px;font-weight: bold;text-align: center;padding-top: 12px;">注文履歴一覧</h1>

    <table class="table" style="margin-top: 50px;">
        <thead>
            <tr>
                <th>購入日時</th>
                <th>購入者</th>
                <th>注文個数</th>
                <th>注文ステータス</th>
            </tr>
        </thead>

        <tbody>
            <% @orders.each do |order| %>
                <tr>
                    <td>
                        <%= link_to admins_order_path(order) do %>
                            <%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                        <% end %>
                    </td>
                    <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
                    <td><%= order.order_details.count %></td>
                    <td>
                        <% if order.order_status == 0 %>
                            入金待ち
                        <% elsif order.order_status == 1 %>
                            入金確認
                        <% elsif order.order_status == 2 %>
                            製作中
                        <% elsif order.order_status == 3 %>
                            発送準備中
                        <% elsif order.order_status == 4 %>
                            発送済み
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <%= paginate @orders %>
    </div>
</div>