<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0c25928deb.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="navbar navbar-fixed-top">

      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span style="font-size: 70px;font-weight:bold;color: white;">
            <%= link_to "NaganoCake", root_path %>
          </span>
          <% if customer_signed_in? %>
              <span>ようこそ、<%= current_customer.last_name %><%= current_customer.first_name %>さん！</span>
          <% end %>
        </nav>

        <nav>
          <ul class="nav navbar-nav navbar-right" style="margin-top: 45px;font-size: 15px;">
            <% if customer_signed_in? %>
              <li><%= link_to "マイページ", customers_my_page_path %></li>
              <li><%= link_to "商品一覧", products_path %></li>
              <li><%= link_to "カート", cart_items_path %></li>
              <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
            <% elsif admin_signed_in? %>
              <li><%= link_to "商品一覧", admins_products_path %></li>
              <li><%= link_to "会員一覧", admins_customers_path %></li>
              <li><%= link_to "注文履歴一覧", admins_orders_path %></li>
              <li><%= link_to "ジャンル一覧", admins_genres_path %></li>
              <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "About", home_about_path %></li>
              <li><%= link_to "商品一覧", products_path %></li>
              <li><%= link_to "新規登録", new_customer_registration_path %></li>
              <li><%= link_to "ログイン", new_customer_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>

      <%#検索フォーム %>
      <% if admin_signed_in? %>
        <div class="container">
          <nav class="navbar navbar-right">
            <%= form_tag(admins_search_path, method: :get ) do %>
              <%= select_tag(:option, options_for_select([["会員", "1"],["商品", "2"]])) %>
              <%= text_field_tag :search %>
              <button name='button' type='submit'>
                <i class="fa fa-search"></i>
              </button>
            <% end %>
          </nav>
        </div>
      <% end %>

    </header>


    <%#　flashメッセージ表示場所 %>
    <% if flash[:notice] %>
      <div id="flash" class="alert alert-success" role="alert" style="position: absolute; top: 200px; left: 150px;">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <div class="container", style="padding-top: 270px; padding-bottom: 80px;">
      <%= yield %>
    </div>


    <footer>
      <div class="container">
        <div class="row">
          <% unless customer_signed_in? || admin_signed_in? %>
            <div class="col-xs-3 col-xs-offset-9">
              <%= link_to "管理ページへ", new_admin_session_path %>
            </div>
          <% end %>
        </div>
      </div>
    </footer>


  </body>
</html>
